@keyframes anime {
  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    box-shadow: 0px 28px 50px rgb(119 118 156 / 40%);
  }
}
.home-section {
  background-image: url(assets/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .home-container {
    max-width: 1320px;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    .home-intro-box {
      min-height: 100vh;
      padding-top: 8px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 1;
      .user-text {
        margin-top: 81px;
        h6 {
          font-size: 18px;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 600;
          color: #323258;
          margin: 0;
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
            width: 25px;
            max-width: 100%;
            vertical-align: middle;
          }
        }
        h1 {
          font-weight: 900;
          font-size: 160px;
          line-height: 0.7;
          color: #1877f2;
          margin-top: 26px;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 20px;
          font-weight: 600;
          color: #323258;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-top: 0;
          margin-bottom: 0.5rem;
          line-height: 1.2;
          span {
            color: #1877f2;
          }
        }
      }
      .user-review {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 48px 60px rgb(119 118 156 / 30%);
        border-radius: 24px;
        padding: 18px 26px;
        max-width: 330px;
        margin-left: auto;
        margin-right: 5%;
        margin-top: auto;
        margin-bottom: 6%;
        backdrop-filter: blur(15px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(
          top,
          #ffffff33 1px,
          #ffffff00 1px,
          #0000001a 100%
        );
        animation: anime 1s infinite ease-in-out alternate;
        -webkit-animation: anime 1s infinite ease-in-out alternate;
        .star-box {
          color: #1877f2;
          font-size: 20px;
          ul {
            list-style: none;
            flex-direction: row;
            display: flex;
            padding: 0;
            margin-bottom: 8px;
            li {
              margin: 0 3px;
            }
          }
        }
        p {
          font-weight: 500;
          font-size: 20px;
          color: #323258;
          text-align: center;
          margin-top: 0;
        }
        h6 {
          font-size: 22px;
          color: #1877f2;
          font-weight: 600;
          margin: 0;
        }
      }
      .user-img {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: auto;
        text-align: center;
        left: 0;
        z-index: -1;
        .user-img-round {
          width: 680px;
          height: 680px;
          background-color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border-radius: 50%;
        }
        img {
          max-height: calc(100vh - 90px);
          position: relative;
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home-section {
    .home-container {
      .home-intro-box {
        flex-wrap: wrap;
        flex-direction: column;
        .user-text {
          width: 100%;
          text-align: center;
          padding-top: 40px;
          padding-bottom: 40px;
          h6 {
            justify-content: center;
          }
          h1 {
            font-size: 80px;
          }
        }
        .user-review {
          display: none;
        }
        .user-img {
          position: relative;
          .user-img-round {
            width: 250px;
            height: 250px;
          }
        }
      }
    }
  }
}
